<nav class="navbar navbar-expand-lg sticky-top bg-black text-white shadow bg-light">
    <div class="container-fluid ">
      <a class="navbar-brand text-white ms-5" href="#"> <span class="logo text-primary">Solution</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="my-1 mx-2 close">X</span>
      </button>
      <div class="collapse navbar-collapse text-center ms-auto mt-4 mt-md-0" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2  mb-lg-0 ms-auto">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="#">Expertise</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Insights</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Careers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Who we are</a>
          </li>
        </ul>
  
        <button class="btn btn-primary ms-auto  me-md-5">Get In Touch</button>
      </div>
    </div>
</nav>