 <!-- Footer -->
 <footer class="bg-dark text-white position-relative d-flex justify-content-center">
    <div class="container position-absolute bottom-0 end-0 mb-5">
      <div class="row text-md-start text-center mb-5">
        <!-- Company Info -->
        <div class="col-md-4  mb-4 ">
          <span class="logo text-primary">Solution</span>
            <p class="text-sm mt-2">To Create A Software Or Websites</p>
        </div>
        
        <!-- Links -->
        <div class="col-md-2 mb-4">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-body-tertiary">Home</a></li>
            <li><a href="#" class="text-white">About Us</a></li>
            <li><a href="#" class="text-white">Services</a></li>
            <li><a href="#" class="text-white">Contact</a></li>
          </ul>
        </div>
        
        <div class="col-md-3 mb-4">
          <h5>Legal</h5>
          <ul class="list-unstyled">
            <li><i class="bi bi-telephone-fill"></i>Privacy Policy</li>
            <li><i class="bi bi-envelope-fill"></i>Terms &amp; Conditions</li>
          </ul>
        </div>
        <div class="col-md-3 mb-4">
            <h5>Get In Touch</h5>
            <ul class="list-unstyled hover-color">
              <li><i class="bi bi-telephone-fill"></i></li>
              <li><i class="bi bi-envelope-fill"></i> sbsolutions&#64;gmail.com</li>
            </ul>
          </div>
      </div>
    </div>

    <div class="text-center p-3 position-absolute bottom-0 ">
        <span class="text-md fw-semibold text-center-sm text-white mt-5">Copyright © 2024 Sorting <a href="https://flowbite.com/">Sb Solution</a> Technologies Pvt Ltd. All Rights Reserved.
        </span>
      </div>
      <a href="/issues"><p class="issue-box">🤔 Facing an issue?</p></a>
  </footer>